*{
	box-sizing: border-box;
}
body{
	background-color: green;
	color: black;

}
.container {
	width: 500px;
	height: 300px;
	position: absolute;
	top: 0;
	right:0;
	left: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	border-radius: 10px;
}

.content{
	margin: 10px;
	margin-top: 10%;
	font-size: 1.75em;
	text-align: center;
}

.boxAuthor{
	margin: 10px;
	font-size: 1.75em;
	text-align: right;
}

.boxBtn{
	display: flex;
	margin: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.button{
	height: 38px;
	margin: 0 10px 0 10px;
	border: none;
	border-radius: 3px;
	font-size:1em;
    padding: 8px 18px 8px 18px;
    color: #fff;
    background-color: #333;
    opacity:1;
    cursor:pointer;
}

.button:hover{
	opacity: 0.9;
}