/*
	Setting all the principal elements of my page.
*/

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Georgia, Times, "Times New Roman", serif;
}
.container{
	display: -webkit-flex;
	display: flex;
	width: 100%;
}
.row{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 62.5em;
}

ul, li{
	text-decoration: none;
	display: block;
	list-style: none;
}

ul{
	display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    list-style-position: outside;
}

/*
	Setting the menu bar! Turning it responsive and fixed in the top.
*/

.menu{
	position: fixed;
	top: 0;
	display: block;
	width: 100%;
	height: 50px;
	min-width: 620px;
	overflow: hidden;
	background-color: #000;

}

.logo{
	width: 20%;
	height: 100%;
	float: left;
	min-width: 100px;

}

.btnMenu{
	width: 80%;
	height: 100%;
	float: left;
	min-width: 420px;
	color: #fff;
}

.logo img{
	padding: 3px 0 2px 30% ;
	width: auto;
	height: auto;
}

.menu ul{
	margin: 0 15px 0 0;
}

.menu li{
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	overflow: hidden;
	float: right;
}

.menu a{
		color: #fff;
		text-decoration: none;
}

.menu a:hover{
	color: #fd5f54;
	cursor: pointer;
}

/* header*/

/*
	Setting the about page.
*/

.about{
	width: 100%;
	height: 500px;
	min-width: 620px;
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: #ffffff;
}

.discription{
	float: left;
	width: 60%;
	height: 100%;
	min-width: 350px;
}

.picture{
	float: left;
	width: 40%;
	height: 100%;
	min-width: 100px;
}

.picture img{
	width: 100%;
	height: auto;
	border-radius: 50%;
	margin-top: 1%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Media queries to centralize the about picture and adjust the padding of all components*/
@media screen and (max-width: 1024px){

	.picture img, .social p{
		padding-right: 7px;
	}

	.discription h1, p{
		padding-left: 7px;
	}

	.form .container{
		margin-left: 7px;
	}
}

@media screen and (max-width: 934px) and (min-width: 245px){
	.picture img{
		margin-top: 10%;
	}
}

@media screen and (max-width: 834px){
	.picture img{
		margin-top: 15%;
	}
}

@media screen and (max-width: 734px){
	.picture img{
		margin-top: 25%;
	}
}

@media screen and (max-width: 634px){
	.picture img{
		margin-top: 30%;
	}
}

/* Work*/

.work{
	border: 1px solid red;
	display: block;
	width: 100%;
	height: 680px;
	min-width: 620px;
	padding-top: 50px;
	padding-bottom: 40px;
}

.slider{
	border: 1px solid yellow;
	width: 100%;
	height: 90%;
	max-width: 31em;
	margin-left: auto;
	margin-right: auto;
}

.title{
	border: 1px solid green;
	width: 100%;
	height: 10%;
	max-width: 31em;
	margin-left: auto;
	margin-right: auto;
}

.slideshow-container{
	border: 1px solid black;
	max-width: 350px;
	margin: auto;
}

.slideshow-container img{
	width: 100%;
	height: 100%;
	margin-top: 2px;
}

.mySlide{
	display:none;
}

.next, .prev{
	cursor: pointer;
	position: absolute;
	top: 110%;
	width: auto;
	padding: 16px;
	margin: -22px;
	color: #333;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next{
	right: 35%;
	border-radius: 3px 0 0 3px;
}

.prev{
	left: 35%;
}

.prev:hover, .next:hover{
	background-color: rgb(0,0,0,0.8);
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from{opacity: .4}
	to {opacity: 1}
}

.title h1{
	text-align: center;
	margin-top: 0;
}
.work .row{
	border: 1px solid blue;
}
/*
	Contact, setting the social menu, plus a form and responsive configuration

*/

.contact{
	display: block;
	width: 100%;
	height: 500px;
	min-width: 620px;
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: #494949;
}
.form{
	width: 50%;
	height: 100%;
	float: left;
	min-width: 305px;
	padding: 0;
}

.social{
	width: 50%;
	height: 100%;
	float: left;
	min-width: 305px;
	padding: 0;
}

.social .fa{
	color: #c8c8c8;
	float: right;
	display: block;
	margin: 10px;
}

.fa-codepen:hover, .fa-github:hover, .fa-linkedin:hover{
	color: white;
}

.social ul{
    margin: 0;
    padding: 0 17px 0 0;
    float: right;
}
.social li{
	display: inline-block;
	margin: 10px 0 20px 0;

}

.social p{
	color: #fff;
	margin-top: 50px;
	font-size: 25px;
	float: right;
	margin-bottom: 0;
}


input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[ type=submit]{
	background-color: #fd5f54;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #ca4c43;
}

.form .container{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.form h3{
	color: #fff;
	padding-left: 20px;
}

/* Footer*/