
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #263238;
	font-family: 'Pacifico', cursive;
}

.wrapper{
	border: solid 1px green;

}

.container{
	border: solid 1px red;
	width: 400px;
	height: 600px;
	display: block;
	margin: auto;
	border-radius: 15px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #313e45;
}

.header{
	border: solid 1px green;
	width: 100%;
	height: 55px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.content{
	border: solid 1px black;
	width: 100%;
	height: 158px;
	border-bottom: solid 2px white;
}

.temperature{
	border: solid  1px red;
	width: 50%;
	height: 100%;
	display: inline-block;
}

.animation{
	border: solid  1px red;
	width: 50%;
	height: 100%;
	float: right;
}

.weekDays{
	border: solid 1px pink;
	width: 100%;
	height: 55px;
	display: flex;
	background-color: green;
	border-bottom: solid 2px white;
}

.data{
	width: 30%;
	height: 100%;
	background-color: blue;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);

}

/*.temp{
	height: 100%;
	width: 70%;
	display: inline-block;
	background-color: green;
	-webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 0 100%, 6% 54%);
	clip-path: polygon(13% 0, 100% 1%, 100% 100%, 0 100%, 6% 54%);

} */

.weekDaysLast{
	border: solid 1px pink;
	width: 100%;
	height: 55px;
	display: flex;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: green;
}

.dataLast{
	width: 30%;
	height: 100%;
	background-color: blue;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);
	border-bottom-left-radius: 15px;
}

.center{
	margin-left: 35px;
}
.data, .dataLast span{
	font-size: 30px;
	font-weight: bold;
}