
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background-color: #263238;
	font-family: 'Pacifico', cursive;
}

.container{
	border: solid 1px red;
	width: 400px;
	height: 400px;
	display: block;
	margin: auto;
	border-radius: 15px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #313e45;
}

/*
	header with the hour display and the city
*/
.header{
	border: solid 1px green;
	width: 100%;
	height: 55px;
	display: flex;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.hours, .city{
	border: solid 1px green;
	width: 50%;
	height: 100%;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 25px;

}
.hours span{
	position: absolute;
	bottom: 0;
}

.city span{
	position: absolute;
	bottom: 0;
	right: 10px;
}

.animation{
	text-align: center;
	display: block;
}

.animation img{
	width: 80px;
}

.weather{
	padding: 10px;
}
/*
	content display the weather prediction for today
*/
.content{
	border: solid 1px black;
	width: 100%;
	height: 158px;
	border-bottom: solid 2px white;
}

.temperature{
	border: solid  1px red;
	width: 50%;
	height: 100%;
	display: inline-block;
}
.today, .displayTemp{
	display: block;
	text-align: center;
	width: 100%;
	padding: 10px;
	margin: auto;
}

.today{
	height: 20%;
}
.displayTemp{
	height: 70%;
	font-size: 50px;
}

.animation{
	border: solid  1px red;
	width: 50%;
	height: 100%;
	float: right;
}

/*
	WeekDays display the weather prediction for the week
*/
.weekDays{
	border: solid 1px pink;
	width: 100%;
	height: 55px;
	display: flex;
	background-color: green;
	border-bottom: solid 2px white;
}

.data{
	width: 30%;
	height: 100%;
	background-color: blue;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);

}

/*.temp{
	height: 100%;
	width: 70%;
	display: inline-block;
	background-color: green;
	-webkit-clip-path: polygon(13% 0, 100% 1%, 100% 100%, 0 100%, 6% 54%);
	clip-path: polygon(13% 0, 100% 1%, 100% 100%, 0 100%, 6% 54%);

} */

.weekDaysLast{
	border: solid 1px pink;
	width: 100%;
	height: 55px;
	display: flex;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: green;
}

.dataLast{
	width: 30%;
	height: 100%;
	background-color: blue;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0, 84% 54%, 69% 100%, 0% 100%);
	border-bottom-left-radius: 15px;
}

.center{
	margin-top: -4px;
	margin-left: 35px;
}
.data, .dataLast span{
	font-size: 30px;
	font-weight: bold;
}

.temp{
	width: 50px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	margin-left: 100px;
	margin-top: 12px;
}

.temp span{
	margin-left: 15px;
}

/*
	Animation
*/